/ARCOSLAB-DOCKER/common/base-tower/base-zedsdk-cuda-ros2-humble/resources
/ARCOSLAB-DOCKER/common/base-tower/base-zedsdk-cuda-ros2-humble/settings
ARCOSLAB-DOCKER/common/base-jetson/base-zedsdk-jetson-jp-ros2-humble/resources
ARCOSLAB-DOCKER/common/base-jetson/base-zedsdk-jetson-jp-ros2-humble/settings
