./common/base-tower/base-zedsdk-cuda-ros2-humble/resources/
./common/base-tower/base-zedsdk-cuda-ros2-humble/settings/
**/TeleVision/
./common.zip
./common/base-jetson/base-zedsdk-jetson-jp-ros2-humble/resources/
./common/base-jetson/base-zedsdk-jetson-jp-ros2-humble/settings/